@import "../../../scss/global.scss";

.eten-drinken{
    padding: 50px 0;
    display: grid;
    justify-content: center;
    gap: 80px;
    .info-drinken{
        h3{
            @include font-24;
        }
        p{
            max-width: 775px;
        }
    }
    .slide{
        .cards-drinken{
            display: grid;
            gap: 20px;
            .info-eten-drinken{
                display: flex;
                justify-content: space-between;
                gap: 20px;
                max-width: 775px;
                .eten{
                    width: 250px;
                    display: grid;
                    gap: 20px;
                    border-bottom: 1px solid var(--color-border-gray);
                    h4{
                        @include font-18;
                        font-weight: 500;
                    }
                    p{
                        padding: 10px 0;
                        @include font-14;
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .eten-drinken{
        .info-drinken{
            p{
                max-width: 560px;
            }
        }
        .slide{
            .cards-drinken{
                .info-eten-drinken{
                    max-width: 700px;
                }
            }
        }
    }
}
@media (max-width: 576px) {
    .eten-drinken{
        .info-drinken{
            p{
                max-width: 560px;
            }
        }
        .slide{
            max-width: 560px;
            overflow-x: auto;
            .cards-drinken{
                display: flex;
                gap: 10px;
            }
        }
    }
}
