.button{
    button{
        padding: 11px 23px;
    }
    .blue{
        background: #0505b6;
        color: var(--font-color);
    }
    .black{
        background-color: var(--background-color);
        color: var(--font-color);
    }
}