:root{
    --header-menu-color: #00f; 
    --icon-background-color:#EC7F07;
    --card-icon-color: #ff7b00;
    --background-color:#F3F4F5;
    --color-gray:#f5f5f5;
    --font-color: #fff;
    --bg-color-white: #fff;
    --font-black-color: #000;
    --button-bg-blue: #0505a6;
    --background-color-gray:#f5f5f5;
    --color-border-gray:#c5c6c7;
    --font-gray: #777;
    --font-color:#fff;
    --bg-color-white:#fff;
    --button-bg-color:#1678C0;
    --bg-color-gray:#f5f5f5;
    --color-black:#000;
    --font-color-dark-gray: #5e6263;
    --background-color:#222;
    --anchor-font-color: #1678c0;
    --footer-bg-color: #222;
    --header-font-color: #050505;
    --icon-color: #1678c0;
    --shadow-color: #00000055;
}
